<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指明GoodsMapper的位置-->
<mapper namespace="org.example.mapper.GoodsMapper">

<!--    定义数据库相关sql语句-->
    <select id="findByPage" resultType="goodsInfo" >
        select * from goodsInfo where goods_name like #{arg2} limit #{arg0},#{arg1}

    </select>
    <select id="findTotalSize" resultType="int">
        select  count(1) from goodsinfo where 1=1 and goods_name like #{keyword}
    </select>
    <select id="selectGoodsById" resultType="goodsInfo">
        select  * from goodsinfo where goods_id=#{goods_id}
    </select>

    <select id="selectGoodsByName" resultType="goodsInfo">
        select * from goodsinfo where goods_name like #{goods_name}
    </select>

<!--    设置主键的自增长类型-->
    <insert id="addNewGood" parameterType="goodsInfo" useGeneratedKeys="true" keyProperty="goods_id">
        insert into goodsinfo(goods_name,unit_price,image,description,type_id) values (#{goods_name},#{unit_price},#{image},#{description},#{type_id})
    </insert>

    <update id="updateGoodsInfo" parameterType="goodsInfo">
        update goodsinfo set goods_name=#{goods_name},unit_price=#{unit_price},image=#{image},description=#{description},type_id=#{type_id}
        where goods_id=#{goods_id}
    </update>

    <delete id="deleteGoodsByName" parameterType="String">
        delete from goodsinfo where goods_name like #{goods_name}
    </delete>


</mapper>
