<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指明LoginMapper的位置-->
<mapper namespace="org.example.mapper.LoginMapper">

<!--    定义数据库相关sql语句-->
    <select id="queryUser" resultType="userLogin" >
        select * from userLogin where user_id=#{user_id}
    </select>
<!--默认user_use使用值为1-->
    <insert id="insertUser" parameterType="userLogin">
        insert into userLogin values (#{user_id},#{password},#{user_use})
    </insert>


    <update id="updatePassword">
        update userLogin set password=#{arg1} where user_id=#{arg0}
    </update>

    <update id="updateUserUse">
        update  userlogin set user_use=#{arg1} where user_id=#{arg0}
    </update>



</mapper>
