<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--指明UserInfoMapper的位置-->
<mapper namespace="org.example.mapper.UserInfoMapper">

<!--    定义数据库相关sql语句-->
    <insert id="addNewUser" parameterType="String">
        insert into userinfo set user_id=#{user_id}
    </insert>

    <select id="selectUserInfoById" resultType="userInfo" >
        select * from userinfo where user_id=#{user_id}
    </select>


    <update id="updateUserInfo" parameterType="userInfo">
        updata userinfo set nickname=#{nickname},icon=#{icon},gender=#{gender},phone=#{phone},email=#{email}
        where user_id=#{user_id}
    </update>

    <select id="findByPage" resultType="userInfo" >
        select * from userinfo where user_id like #{arg2} limit #{arg0},#{arg1}

    </select>
    <select id="findTotalSize" resultType="int">
        select  count(1) from userinfo where 1=1 and user_id like #{keyword}
    </select>


</mapper>
